.question {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin: 0px;
	margin-bottom: 0px;
}
.question question-text{
	background-color: lightcyan;

}
.question question-option {
	background-color: aliceblue;
}
.question question-correct-option {
	background-color:  yellowgreen;
}