html {
    overflow: scroll;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.topline {
	height: 1vh;
	width: 100%;
	background-color: #81B29A;
	z-index: 1; /* Stay on top */
	position: fixed;
}

.sidebar {
	height: 100%;
	width: 20%;
    left: 0;
    top: 10px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
}

.main {
	height: 100%;
	width: 80%;
    right: 0;
    top: 10px;
    padding-left: 0px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */}

.userinfo {
	height: 10%;
	width: 100%;
	position: absolute;
	background-color: #E07A5F;
}

.userinfo name {
  	color: #000000;
 	display: block;
    font-size: 40px;
    font-family: monospace;
    margin-bottom: 0px;
    text-align: center;

}
.userinfo orgname {
  	color: #000000;
 	display: block;
 	margin: 5px;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;

}

.sidenav {
	height: 90%;
	width: 100%;
	position: absolute;
	background-color: #3D405B;
	bottom: 0; 
	overflow-x: scroll;
	overflow-y: scroll;
}

.separator {
	height: 5px;
	width: 100%;
	background-color: #494D6E;
	z-index: 1; /* Stay on top */
	margin-bottom: 10px;

}

.add-dir {
	min-width: 100%;
    font-size: 28px;
    color: white;
    margin: 10px;
    transition: all .4s;
	
}


.btn {
    font-size: 20px;
    color: white;
    background-color: #3D405B;
    border: none;
    text-align: left;
    padding: 10px;
    font-family: inherit;
    text-transform: none;
    width: 100%;
}

.btn:hover, .btn:active {
	background-color: #494D6E;
}

.icon {
  position:absolute;
  font-size:inherit;
  right:0;
  font-style: inherit;
  padding-right: 10px;
}

.dir-list {
	font-size: 100% !important;
	margin-left: .8rem !important;
	color: #FFFFFF;
}

.dir-list li {
	list-style: none;
	border-left: 5px dotted;
	border-color: #494D6E;
	padding-left: 10px;
	font-size: 18px;
	cursor: default;
}

.directory {
	font-size: 18px;
}

.directory-selected {
	color: #F2CC8F;
	font-size: 18px;
}

.file {
	font-size: 18px;
}

.file selected {
	color: #F2CC8F;
}


.header {
	height: 10%;
	width: 100%;
	position: absolute;
	background-color: #FFFFFF;

}

.panel {
	height: 90%;
	width: 100%;
	position: absolute;
	background-color: #FFFFFF;
	bottom: 0;
	right:0; 

}

.heading {
	display:flex;
	height: 100%;
	flex-direction: column;
}

.header dir-heading {
	font-size: 40px;
	color: #81B29A;
	
	white-space: nowrap;
	padding-left: 40px;
    word-wrap: break-word;
}

.toolbar{
	display:flex;
	height: 100%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.toolbar-item {
  background-color: #ffffff;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border: 2px solid #81B29A;
  color: #81B29A;
}

.toolbar-item:inactive {
  border: 2px solid #E7E7EF;
  color: #E7E7EF;
}

.toolbar-item:hover, .toolbar-item:active {
  border: 2px solid #E07A5F;
  color: #E07A5F;
}

.upload {
	color:#81B29A;
	float:right;
	margin:20px;
}

textarea.editor {
	width: 100%;
	height: 100%;
	line-height: 1.4;
	font-size:18px;
    border: 1px dotted #81B29A;
    border-radius: 0;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.quill{
	height:100%;
}
.ql-editor {
	height: 100%;
    font-size: 18px;
    background-color: #fffffe;
  	overflow: auto;
}

.ql-editor p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ql-container {
 	height: 100%;
	overflow-y: scroll;}

/*
#scrolling-container {
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
 
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}*/
